<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CashInsightAPIServiceSoap11Binding" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CashInsightAPIServiceSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9000/assure/services/CashInsightAPIService.CashInsightAPIServiceHttpSoap11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="CashInsightAPIServiceSoap11Binding"
                contract="CashInsightAPI.CashInsightAPIServicePortType" name="CashInsightAPIServiceHttpSoap11Endpoint" />
            <endpoint address="http://localhost:9000/assure/services/CashInsightAPIService.CashInsightAPIServiceHttpSoap12Endpoint/"
                binding="customBinding" bindingConfiguration="CashInsightAPIServiceSoap12Binding"
                contract="CashInsightAPI.CashInsightAPIServicePortType" name="CashInsightAPIServiceHttpSoap12Endpoint" />
        </client>
    </system.serviceModel>
</configuration>